 <form class="form" action="#">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="img/ingresso.jpeg" alt="">
                <h2 class="title">INSIRIR DADOS</h2>
                
            </div>
            
            <div class="card-group">
                <label for="username">NOME COMPLETO:</label>
                <input type="text" id="Text" name="Digite seu Nome" required> 
            </div>

            <div class="card-group">
                <label for="num">QUANTIDADE DE INGRESSOS:</label>
                <input type="number" id="number" required>
            </div>

            <div class="card-group">
                <label for="num">NUMERO DO CPF:</label>
                <input type="text" id="number" name="Digite seu CPF" required>
            </div>

            <div class="card-group">
                <label for="num">NUMERO DO CARTÃO:</label>
                <input type="text" id="number" name="Digite o número do cartão" required>
            </div>

            <div class="card-group">
                <label for="num">SENHA DO CARTÃO:</label>
                <input type="text" id="number" name="Digite a senha do cartão" required>
            </div>

            <div class="card-group">
                <label for="num">CRV:</label>
                <input type="text" id="number" name="CRV do cartão" required>
            </div>

            <div class="card-group btn">
                <button type="submit"> PROSSEGUIR </button>
            </div>

        </div>    
    </form>