<center>
	<div>
	<form action="/adduser" method="post">
        <p>Nome:<input type="text" name="nome" /></p>
        <p>E-mail:<input type="text" name="desc" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
	</div>
</center>
<center>
	<a href="users"><button>Usu&aacute;rios cadastrados</button></a>
</center>


<center>
<hr>
<h2>Adicionar Livro</h2>
<div id='livros'>

 <input id="nome" type="text" placeholder="Nome do livro..." maxlength='100'>
        <input id="desc" type="text" placeholder="Desc do livro..." maxlength='100'>
        <button id="addL" type="submit" onclick="addLivro(nome, desc)">Adicionar</button>
    </div>
    <ul style="padding-left: 0px;" id="livro"></ul>
</center>

<hr>

<center>
    <div class='container'>

        <div class='bloco'> <img class="imglogin" src="img/antes.jpeg" width="200"> 
            <h2>ANTES DE PARTIR</h2> <p>O que voce faria se tivesse seis meses de vida?</p>
            <p>
                <button type="submit"> COMPRAR </button>    
            </p> 
        </div>

        <div class='bloco'> <img class="imglogin" src="img/apenas.jpeg" width="200"> 
            <h2>APENAS UM GAROTO</h2> <p>Engraçado e inesperado</p>
            <p>
                <button type="submit"> COMPRAR </button>    
            </p> 
        </div>

        <div class='bloco'> <img class="imglogin" src="img/culpa.jpeg" width="200">
            <h2>A CULPA É DAS ESTRELAS</h2> <p>Você vai rir e chorar</p> 
            <p>
                <button type="submit"> COMPRAR </button>    
            </p>             
        </div>

        <div class='bloco'> <img class="imglogin" src="img/genevive.jpeg" width="200"> 
            <h2>A CIDADE DAS MÁSCARAS</h2> <p>Será que vendem tamanho P?</p>
            <p>
                <button type="submit"> COMPRAR </button>    
            </p>     
        </div>

        <div class='bloco'> <img class="imglogin" src="img/lobo.jpeg" width="200"> 
            <h2>LOBO DE RUA</h2> <p>Um sopro de frescor na fantasia brasileira</p> 
            <p>
                <button type="submit"> COMPRAR </button>    
            </p>     
        </div>

        <div class='bloco'> <img class="imglogin" src="img/moana.jpeg" width="200"> 
            <h2>MOANA</h2> <p>Não é a da Disney</p>
            <p>
                <button type="submit"> COMPRAR </button>    
            </p>     
        </div>
        
    </div>
</center>
